<div class="container py-5">
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
            <h1 class="display-4 text-white font-weight-bold">About us page</h1>
            <p class="lead text-white mb-0">
                This is free and unencumbered software released into the public domain.
                is free to copy, modify, publish, use, compile, sell, or distribute this
                software, either in source code form for any purpose, commercial or
                non-commercial, and by any means.
            </p>
            <p class="lead text-white">
                Create by
                <a href="https://github.com/sshivanshu992" class="text-white">
                    <u>sshivanshu992</u></a>
            </p>
            
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                class="img-fluid" />
        </div>
        
    </div>
    <!-- Scroll to top -->
    <div class="col text-center p-0">
        <a class="btn btn-outline-light px-4 mt-5 rounded-0 scroll-top" href="#top">Back to top</a>
    </div>
</div>