<div class="container py-4">
	<div class="row text-center">
		<div class="col-xl-6 col-lg-6  col-sm-6 mx-auto ">
			<h2 class="h1 mb-4 text-white pb-5 ">Contact</h2>
            <div class="bg-light shadow-sm py-5 px-5"><img src="https://media-exp1.licdn.com/dms/image/C5603AQFYsusOVrSFYw/profile-displayphoto-shrink_200_200/0/1606216706901?e=1619049600&v=beta&t=QGWLr3VdSc04_QjxUrvUpcojVtuVH-5WMMM-1xTOsqg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">SHIVANSHU VERMA</h5>
				<span class="small text-uppercase text-muted">student</span>
                <ul class="social mb-0 list-inline mt-3">
					<li class="list-inline-item mb-1"><a href="https://github.com/sshivanshu992" target="_blank" class="social-link"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/sshivanshu992" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://instagram.com/sshivanshu992" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://linkedin.com/in/sshivanshu992" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
			<!-- Scroll to top -->
			<a class="btn btn-outline-light px-4 mt-5 rounded-0 scroll-top" href="#top">Back to top</a>
        </div>
	</div>
</div>