<div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-11 mx-auto">
                <h2 class="h1 text-white mb-4">Gallery</h2>
                <div class="row my-5">
                    <div class="col-lg-4">
                      <!-- item -->
                      <figure class="rounded p-2 bg-white shadow-sm caption-1">
                        <img src="https://i.postimg.cc/LsMkfnKk/5.jpg" alt="" class="w-100 card-img-top border border-white border-md">
                        <figcaption class="px-5 py-4 text-right text-light">
                          <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
                          <p class="text-small">By Jason Doe</p>
                        </figcaption>
                      </figure>
                    </div>
            
                    <div class="col-lg-4">
                      <!-- item -->
                      <figure class="rounded p-2 bg-white shadow-sm caption-1">
                        <img src="https://i.postimg.cc/P5NyZ9K6/6.jpg" alt="" class="w-100 card-img-top border border-white border-md">
                        <figcaption class="px-5 py-4 text-right text-light">
                          <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
                          <p class="text-small">By Jason Doe</p>
                        </figcaption>
                      </figure>
                    </div>
            
                    <div class="col-lg-4">
                      <!-- item -->
                      <figure class="rounded p-2 bg-white shadow-sm caption-1">
                        <img src="https://i.postimg.cc/SRDLYf9F/7.jpg" alt="" class="w-100 card-img-top border border-white border-md">
                        <figcaption class="px-5 py-4 text-right text-light">
                          <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
                          <p class="text-small">By Jason Doe</p>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                <!-- Scroll to top -->
                <a class="btn btn-outline-light px-4 rounded-0 scroll-top" href="#top">Back to top</a>
            </div>
        </div>
    </div>

    