.d-max-width {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

.y-height {
  height: 60px;
  font-size: 18px;
}

.caption-1 figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-link {
    width: 60px;
    height: 60px;
    border: 1px solid rgb(55, 1, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(73, 75, 238);
    border-radius: 50%;
    transition: all 0.3s; 
    font-size: 2.1rem;
}

.social-link:hover, .social-link:focus {
    background: rgb(86, 96, 245);
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media (max-width: 599px) {
  .social-link {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .mobile.text-center {
    text-align: left !important;
}
  .display-4 {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .font-weight-bold {
    font-weight: 900 !important;
  }
  .h4 {
    font-size: 0.7rem;
}
}

@media (min-width: 768px) {
  .social-link {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}